<%- include('./partials/head') %>


 <section>
<h1><%= squad.name %></h1>

<% squad.members.forEach(member => { %>
  <article>
    <% if (member.avatar) { %>
    <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
    <% }else{ %>
    <img src="./media/download.jpeg" alt="Placeholder avatar" />
    <% } %>
    <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
  </article>
  <% }) %>

 </section>
  

  


<%- include('./partials/foot') %>
