<%- include('./partials/head') %>
  <header>
    <section class="site-title">
      <section class="title">
        <h1>FDND <span>
            <%= squad.name %>
          </span> landings pagina</h1>
      </section>
      <nav class="squad-filter">
        <p>Kies je squad</p>
        <ul>
          <li><a href="/?squad=squad-a-2022" <% if(squad.slug=="squad-a-2022" ) {%> class="active"<%}%> >Squad A</a>
          </li>
          <li><a href="/?squad=squad-b-2022" <% if(squad.slug=="squad-b-2022" ) {%> class="active"<%}%> >Squad B</a>
          </li>
          <li><a href="/?squad=squat-c-2022" <% if(squad.slug=="squat-c-2022" ) {%> class="active"<%}%> >Squad C</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="filter">
      <p>filter</p>

      <label><input type="checkbox"> Gamen</label>
      <label><input type="checkbox"> Netflix</label>
      <label><input type="checkbox"> Voetbal</label>
      <label><input type="checkbox"> Anime</label>
      <label><input type="checkbox"> Crypto</label>

    </section>
  </header>

  <main>
    <section class="side-bar">
      <% squad.members.forEach(member=> { %>
        <button>

          <% if (member.avatar) { %>
            <img src="<%= member.avatar %>"
              alt="De avatar van <%= member.name + ' ' + member.prefix + ' ' + member.surname %>" />
            <% } else { %>
              <img src="./links/avatar-placeholder.png" alt="placeholder avatar" />
              <% } %>

                <p>
                  <%= member.name + ' ' + member.prefix + ' ' + member.surname %>
                </p>
                <% }) %>

<section class="boek-member">
  <article class="boek">
  <% squad.members.forEach(member => { %>
    <div class="card hide" id="<%= member.id %>">
  
    <% if (member.avatar) { %>
      <img  class="boek-image" src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img  class="boek-image" src="./media/download.jpeg" alt="Placeholder avatar" />
      <% } %>
  <div class="content-links">
    <h2><%= member.name %> <%= member.prefix %> <%= member.surname %> </h2>
    <h3><%= member.role %> Frontend & design op het HVA</h3>
  </div>
  </div>
    
   <% })  %>

  </article>
  <article class="boek">
  <% squad.members.forEach(member => { %>
    <div class="cardtext hide" id="<%= member.id + 1 %>">
    <h1>Bio </h1>
    
    <% if (member.bio) { %>
      <p class="bio"><%=  member.bio.html %></p>
      <% }else{ %>
        <p>Geen Bio</p>
      <% } %>
    <h1>Contact</h1>
    <% if (member.gitHubHandle) { %>
      <p class="bio"> <strong>gitHubHandle:</strong><br><%=  member.gitHubHandle %>
      
      </p>
      <% }else{ %>
        <p class="bio">Geen githubhandle</p>
      <% } %>
      <% if (member.website) { %>
        <p class="bio"> <strong>Webiste:</strong><br>
          <a href="<%=  member.website %>">Bekijk visitekaartje</a>
        
        </p>
        <% }else{ %>
          <p class="bio">Geen website</p>
        <% } %>

  </div>
    <% })  %>
  </article>
</section>

<section class="all-members">
  <% squad.members.forEach(member => { %>
  <article class="member">
    <button class="trigger-member" data-id="<%= member.id %>">
    <% if (member.avatar) { %>
      <img class="members-image" src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
    <% }else{ %>
      <img class="members-image" src="./media/download.jpeg" alt="Placeholder avatar" />
    <% } %>
        </button>


    </section>
    <section class="boek-member">
      <article class="boek">

        <% squad.members.forEach(member=> { %>
          <div class="card hide" id="<%= member.id %>">

            <% if (member.avatar) { %>
              <img src="<%= member.avatar %>"
                alt="De avatar van <%= member.name %> <%= member.preflex %><%= member.surname %>" />
              <% }else{ %>
                <img src="./media/download.jpeg" alt="Placeholder avatar" />
                <% } %>

                  <h2>
                    <%= member.name %>
                      <%= member.prefix %>
                        <%= member.surname %>
                  </h2>
                  <h3>Student Frontend & design op het HVA</h3>

          </div>

          <% }) %>

      </article>
      <article class="boek">
        <% squad.members.forEach(member=> { %>
          <div class="cardtext hide" id="<%= member.id + 1 %>">
            <h1>Bio </h1>
            <p>hallo</p>
          </div>
          <% }) %>
      </article>
    </section>
  </main>
  <section class="all-members">
    <% squad.members.forEach(member=> { %>
      <article class="member">
        <button class="trigger-member" data-id="<%= member.id %>">
          <% if (member.avatar) { %>
            <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
            <% }else{ %>
              <img src="./media/download.jpeg" alt="Placeholder avatar" />
              <% } %>
        </button>
        <h2>
          <%= member.name %>
            <%= member.prefix %>
              <%= member.surname %>
        </h2>
      </article>
      <% }) %>
  </section>



  <%- include('./partials/foot') %>