<%- include('./partials/head') %>
  <header>
    <section class="site-title">
      <section class="title ">
        <h1>FDND <span>
            <%= squad.name %>
          </span> landings pagina</h1>
      </section>
      <nav class="squad-filter">
        <p>Kies je squad</p>
        <ul>
          <li><a href="/?squad=squad-a-2022" <% if(squad.slug=="squad-a-2022" ) {%> class="active"<%}%> >Squad A</a>
          </li>
          <li><a href="/?squad=squad-b-2022" <% if(squad.slug=="squad-b-2022" ) {%> class="active"<%}%> >Squad B</a>
          </li>
          <li><a href="/?squad=squat-c-2022" <% if(squad.slug=="squat-c-2022" ) {%> class="active"<%}%> >Squad C</a>
          </li>
        </ul>
      </nav>
    </section>
    <section class="filter">
      <p>filter</p>

      <label><input type="checkbox"> Gamen</label>
      <label><input type="checkbox"> Netflix</label>
      <label><input type="checkbox"> Voetbal</label>
      <label><input type="checkbox"> Anime</label>
      <label><input type="checkbox"> Crypto</label>
    </section>
  </header>
  <main>
    <section class="side-bar">
      <section class="side-bar-title">
        <p>bekijk mijn profiel</p>
      </section>
      <section class="profiel">
        
        <!-- Hier doe ik de for each loop waarmee je dus alle members van de squad ziet -->
        <% squad.members.forEach(member=> { %>
          <button>

            <!-- laat de plaatje van de member in en als hij geen plaatje heeft krijgt hij een devault plaatje -->
            <% if (member.avatar) { %>
              <img src="<%= member.avatar %>"
                alt="De avatar van <%= member.name + ' ' + member.prefix + ' ' + member.surname %>" />
              <% } else { %>
                <img src="./media/download.jpeg" alt="Placeholder avatar" />
                <% } %>

                  <p>
                    <%= member.name + ' ' + member.prefix + ' ' + member.surname %>
                  </p>
          </button>
          <% }) %>

      </section>
    </section>


    <!-- Laat het boek zien -->
    <section class="boek-member">
      <div class="page-flip">
        <article class="cardprofile">

          <!-- laat alle info in van een bepaalde persoon op de linker pagina in het boek zien -->
          <% squad.members.forEach(member=> { %>
            <div class="leftcard hide" id="<%= member.id %>">

              <% if (member.avatar) { %>
                <img class="boek-image" src="<%= member.avatar %>"
                  alt="De avatar van <%= member.name + ' ' + member.prefix + ' ' + member.surname %>" />
                <% } else { %>
                  <img src="./media/download.jpeg" alt="Placeholder avatar" />
                  <% } %>
                    <div class="content-links">
                      <h2>
                        <%= member.name + ' ' + member.prefix + ' ' + member.surname %>
                      </h2>
                      <h3>
                        <%= member.role %> Frontend & design op het HVA
                      </h3>
                    </div>
            </div>

            <% }) %>

        </article>
        <article class="rightcard">
          
          <!-- laat alle info in van een bepaalde persoon op de Rechter pagina in het boek zien -->
          <% squad.members.forEach(member=> { %>
            <div class="cardtext hide" id="<%= member.id + 1 %>">
              <h2>Bio </h2>

              <% if (member.bio) { %>
                <p class="bio">
                  <%= member.bio.html %>
                </p>
                <% }else{ %>
                  <p>Geen Bio</p>
                  <% } %>
                    <h2>Contact</h2>
                    <% if (member.gitHubHandle) { %>
                      <p class="bio"> <strong>gitHubHandle:</strong><br>
                        <%= member.gitHubHandle %>

                      </p>
                      <% }else{ %>
                        <p class="bio">Geen githubhandle</p>
                        <% } %>
                          <% if (member.website) { %>
                            <p class="bio"> <strong>Webiste:</strong><br>
                              <a href="<%=  member.website %>">Bekijk visitekaartje</a>

                            </p>
                            <% }else{ %>
                              <p class="bio">Geen website</p>
                              <% } %>

            </div>
            <% }) %>
        </article>
      </div>
    </section>

  </main>

  <%- include('./partials/foot') %>